{% extends "base.html" %}

{% block title %}  Board Tracking list {% endblock %}

{% block BoardList %} 
<p>
<h2 class="sub-header">Status Tracking</h2>
</p>
	  <div class="table-responsive">
	    <table class="table table-striped table-hover">
	      <thead>
	        <tr>
	          <th>Board SN</th>
	          <th>Owner</th>
	          <th>Status</th>
	          <th>Note</th>
	        </tr>
	      </thead>
	      <tbody>

    {% for blog in blogs %}
    <tr>
	  <td>{{ blog.caption }}</td>
	  <td>{{ blog.author }}</td>
	  <td><span class="label label-success">Good</span></td>
	  <td>{{ blog.content}}</td>

	</tr>
    {% endfor %}     

          </tbody>
        </table>
      </div>  
{% endblock %}

