{% extends "base.html" %}


<script type="text/javascript" language="javascript" class="init">

$(document).ready(function() {
  $('#board_tracking_table').dataTable({
        lengthChange: false,
        "pageLength": 30,
        "autoWidth": false,
        "columnDefs": [
            { "targets": [ 5 ],
              "width": "20%",
              "orderable": false  }]
  });
} );

</script>

{% block title %}  CMC Board Tracking list {% endblock %}

{% block BoardList %} 
<p>
<h2 class="sub-header">C-Docsis 1.1 SFP Status Tracking</h2>
<a href="/admin/myblog/sfp/" class="btn btn-primary" role="button">Add New SFP Module ...</a>
<a href="/admin/myblog/sfpvendor/" class="btn btn-info" role="button">Add New SFP Vendor Type ...</a>
</p>
	  <p>
	    <table id="sfp_tracking_table" class="row-border compact hover nowrap " cellspacing="0" width="100%">
	      <thead>
	        <tr>
	          <th>SN</th>
	          <th>MPN</th>
	          <th>Optical Type</th>
	          <th>Vendor</th>
	          <th>Owner</th> 
	          <th>Update Date</th>
	          <th>Status</th>
	        </tr>
	      </thead>
	      <tbody>
		    {% for sfp in sfps %}
		    <tr>
		    	<td align="center"><a href="/admin/myblog/sfp/{{ sfp.id }}/">{{ sfp.sfp_sn }}</a></td>
				<td align="center">{{ sfp.sfp_mpn }}</td>
				<td align="center">{{ sfp.sfp_mpn.optical_type }}</td>
				<td align="center">{{ sfp.sfp_mpn.vendor|upper }}</td>
				<td align="center">{{ sfp.sfp_owner }}</td>			
				<td align="center">{{sfp.sfp_update_time}}</td>
				<td><button type="button" class="btn btn-sm btn-success">Success</button></td>
			</tr>
		    {% endfor %}     
          </tbody>
        </table>
       </p>

      <!-- </div>   -->
{% endblock %}




