{% extends "base.html" %}


<script type="text/javascript" language="javascript" class="init">

$(document).ready(function() {
  $('#board_tracking_table').dataTable({
        lengthChange: false,
        "pageLength": 30,
        "autoWidth": false,
        "columnDefs": [
            { "targets": [ 5 ],
              "width": "20%",
              "orderable": false  }]
  });
} );

</script>

{% block title %}  CMC Board Tracking list {% endblock %}

{% block BoardList %} 
<p>
<h2 class="sub-header">C-Docsis 1.1 SFP Status Tracking</h2>
</p>

<div class="col-sm-4 col-md-4 half_1">
<h3>Summary:</h3> 
<p>
SFP Modules Total Count: <span class="label label-primary">{{ sfpcount.total }} </span> </br>
SFP In Store Count:<span class="label label-primary">{{ sfpcount.in_store }} </span>	</br>
SFP In Cross-Function Team Count: <span class="label label-primary">{{ sfpcount.in_crossteam }} </span>	</br>

<a href="/admin/myblog/sfp/" class="btn btn-success btn-sm" role="button">Add New SFP <span class="badge">1</span></a> 
<a href="/admin/myblog/sfpvendor/" class="btn btn-success btn-sm" role="button">Add New Vendor <span class="badge">1</span></a>
</p>
</div>

<div class="col-sm-8 col-md-8 half_2">
<h3>Record History</h3>
<p>
<span class="label label-info">2014/09/21</span>  Received SUMITOMO EX and ZX Modules. <button class="btn btn-success btn-xs" type="button"><span class="badge">4</span></button></br>
{% for record in records %}
<span class="label label-info">{{record.log_date|date:"Y/m/j"}}</span>  {{record.log_note}}  <span class="label label-primary">{{record.log_person}}</span> <button class="btn btn-success btn-xs" type="button"><span class="badge">{{record.log_count}}</span></button> </br>
{% endfor %}
</p>
</div>


	  <p>
	    <table id="sfp_tracking_table" class="row-border compact hover nowrap " cellspacing="0" width="100%">
	      <thead>
	        <tr>
	          <th>SN</th>
	          <th>MPN</th>
	          <th>Optical Type</th>
	          <th>Vendor</th>
	          <th>Owner</th> 
	          <th>Update Date</th>
	          <th>Status</th>
	        </tr>
	      </thead>
	      <tbody>
		    {% for sfp in sfps %}
		    <tr>
		    	<td align="center"><a href="/admin/myblog/sfp/{{ sfp.id }}/">{{ sfp.sfp_sn }}</a></td>
				<td align="center">{{ sfp.sfp_mpn }}</td>
				<td align="center">{{ sfp.sfp_mpn.optical_type }}</td>
				<td align="center">{{ sfp.sfp_mpn.vendor|upper }}</td>
				<td align="center">{{ sfp.sfp_owner }}</td>			
				<td align="center">{{sfp.sfp_update_time}}</td>
				<td><button type="button" class="btn btn-sm btn-success">Success</button></td>
			</tr>
		    {% endfor %}     
          </tbody>
        </table>
       </p>

      <!-- </div>   -->
{% endblock %}




